.main-container {
    padding: 1vw;
}

.navbar-button {
    border: none;
    background: white;
    border-bottom: solid black 0.1vw;
}

.navbar-button {
    position: relative;
    background: none;
    border: none;
    font-size: 1.1vw;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.navbar-button::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar-button:hover::after,
.navbar-button.active::after {
    transform: scaleX(0.87);
}

.save-icon {
    border: none;
    background: white;
    height: 1.5vw;
}

.save-button,
.username-button {
    border: none;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.premium-button {
    border: none;
    background: white;
}

.premium-button {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: linear-gradient(to top right, red, blue);
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 1.1vw;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.premium-button:hover,
.premium-text:hover {
    color: black;
    background: linear-gradient(to top right, red, blue);
}

.premium-text:hover {
    color: transparent;
    background-clip: text;
}

.premium-button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.premium-button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.premium-button text:hover:after {
    z-index: 100;
}

.cursor-pointer {
    cursor: pointer;
}